/*-- scss:defaults --*/
$primary: #567F69;
$link-color: #567F69;
$body-bg: #1A1A1A;
$body-color: #FEFCEE;
$headings-color: #567F69;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;