/*-- scss:defaults --*/
:root {
  color-scheme: light;
}
$primary: #567F69;
$link-color: #567F69;
$body-bg: #FEFCEE;
$body-color: #363030;
$headings-color: #567F69;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;